<div
  class="flex justify-between w-full animate-fade animate-once animate-duration-1000 animate-ease-in-out"
>
  <div class="relative flex gap-5" *ngIf="vm">
    <button
      *ngFor="let elm of vm?.steps; trackBy: generativeService.trackBy"
      class="bg-white"
      [routerLink]="elm.value"
      [disabled]="buttonDisabled$ | async"
    >
      <div *ngIf="vm[elm.value] as element">
        <mat-icon
          mat-ripple
          [svgIcon]="element.icon"
          class="transition-all mx-1 border-2 border-solid border-gray-200 rounded-full p-2 !w-9 !h-9 hover:border-gray-300 hover:bg-slate-50animate-fade animate-once animate-duration-1000 animate-ease-in-out"
          routerLinkActive="border-blue-500 bg-blue-50 text-blue-500"
        >
        </mat-icon>
      </div>
    </button>
    <div
      *ngIf="vm?.steps.length > 1"
      class="absolute bg-gray-200 w-full h-[1px] border-s bottom-1/2 border-solid border-gray-800 -z-10"
    ></div>
  </div>
  <div>
    <ngx-button-component
      [disable]="buttonDisabled$ | async"
      roundedFull="rounded-md"
      (marian)="nextTab()"
      >Continue
    </ngx-button-component>
  </div>
</div>
