<form
  (ngSubmit)="onSubmit()"
  [formGroup]="dynamicForm"
  class="p-3 flex gap-1 flex-col"
>
  <ng-container
    *ngFor="
      let controls of jsonData.values;
      trackBy: generateFormBuilderService.trackBy.bind(this)
    "
  >
    <ng-container *ngIf="!controls.bulkValues; else array">
      <ng-container
        *ngIf="!(controls.values && controls.values.length); else groups"
      >
        <div class="grid grid-cols-12">
          <p>
            {{ controls.label }}
          </p>
          <input-component
            [formControlName]="controls.label"
            class="col-span-4"
          />
        </div>
      </ng-container>
    </ng-container>
    <ng-template #groups>
      <ng-container
        *ngFor="
          let group of controls.values;
          let index = index;
          trackBy: generateFormBuilderService.trackBy.bind(this)
        "
      >
        <ng-container [formGroupName]="controls.label">
          <div class="grid grid-cols-12">
            <p>
              {{ group.label }}
            </p>
            <input-component
              [formControlName]="group.label"
              class="col-span-4"
            />
          </div>
        </ng-container>
      </ng-container>
    </ng-template>
    <ng-template #array>
      <ng-container *ngIf="controls.bulkValues">
        <ng-container [formArrayName]="controls.label">
          <!-- Iterate through section.bulkValues -->
          <h1>{{ controls.label }}</h1>
          <ng-container
            *ngFor="
              let bulkValue of controls.bulkValues;
              let index = index;
              trackBy: generateFormBuilderService.trackBy.bind(this)
            "
          >
            <!-- Create a formGroup for each bulkValue -->
            <ng-container
              *ngIf="!bulkValue.bulkValues; else arrayOfArray"
              [formGroupName]="index"
            >
              <ng-container>
                <div class="grid grid-cols-12">
                  <p class="col-span-2">{{ bulkValue.label }}</p>
                  <input-component class="col-span-4" formControlName="value" />
                </div>
              </ng-container>
            </ng-container>
            <ng-template #arrayOfArray>
              <ng-container [formArrayName]="index">
                <div class="grid grid-cols-12">
                  <p class="col-span-2">{{ bulkValue.label }}</p>
                  <ng-container
                    *ngFor="
                      let nestedControl of bulkValue.bulkValues;
                      let nestedIndex = index;
                      trackBy: generateFormBuilderService.trackBy.bind(this)
                    "
                  >
                    <input-component
                      [formControlName]="nestedIndex"
                      class="col-span-4"
                    />
                  </ng-container>
                </div>
              </ng-container>
            </ng-template>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-template>
  </ng-container>
  <button-component
    [disable]="dynamicForm.pristine || dynamicForm.invalid"
    roundedFull="rounded-md"
    type="submit"
    >Submit
  </button-component>
</form>
