<form
  (ngSubmit)="onSubmit()"
  [formGroup]="dynamicForm"
  class="p-3 flex flex-col"
  *ngIf="formValue$ | async"
>
  <ng-container
    *ngFor="
      let controls of jsonData.values;
      trackBy: generateFormBuilderService.trackBy.bind(this)
    "
  >
    <!--    Only single control -->
    <ng-container *ngIf="!controls.bulkValues; else array">
      <ng-container
        *ngIf="!(controls.values && controls.values.length); else groups"
      >
        <form-control-label
          [label]="controls.label"
          [formControlName]="controls.label"
          class="col-span-4"
          [typeInput]="typeOf(controls.value)"
          [placeholderInput]="controls.placeholder"
          [labelInput]="controls.labelHint"
        />
      </ng-container>
    </ng-container>
    <ng-template #groups>
      <ng-container
        *ngFor="
          let group of controls.values;
          trackBy: generateFormBuilderService.trackBy.bind(this)
        "
      >
        <ng-container [formGroupName]="controls.label">
          <form-control-label
            [label]="group.label"
            [formControlName]="group.label"
            class="col-span-4"
            [typeInput]="typeOf(controls.value)"
            [placeholderInput]="controls.placeholder"
            [labelInput]="group.labelHint"
          />
        </ng-container>
      </ng-container>
    </ng-template>
    <ng-template #array>
      <ng-container
        *ngIf="controls.bulkValues"
        [formArrayName]="controls.label"
      >
        <!-- Iterate through section.bulkValues -->
        <div
          class="bg-gray-300 font-serif text-cyan-400 text-2xl rounded-t-xl pl-2"
        >
          {{ controls.label }}
        </div>
        <div
          class="bg-slate-50"
          *ngFor="
            let bulkValue of controls.bulkValues;
            let index = index;
            trackBy: generateFormBuilderService.trackBy.bind(this)
          "
        >
          <!-- Create a formGroup for each bulkValue -->
          <ng-container
            *ngIf="!bulkValue.bulkValues; else arrayOfArray"
            [formGroupName]="index"
          >
            <form-control-label
              [label]="bulkValue.label"
              formControlName="value"
            />
          </ng-container>
          <ng-template #arrayOfArray [formArrayName]="index">
            <div class="grid grid-cols-12">
              <p class="col-span-2">{{ bulkValue.label }}</p>
              <ng-container
                *ngFor="
                  let nestedControl of bulkValue.bulkValues;
                  let nestedIndex = index;
                  trackBy: generateFormBuilderService.trackBy.bind(this)
                "
              >
                <form-control-label
                  class="col-span-3"
                  [formControlName]="nestedIndex"
                  [placeholderInput]="nestedControl.placeholder"
                  [labelInput]="nestedControl.labelHint"
                />
              </ng-container>
            </div>
          </ng-template>
        </div>
      </ng-container>
    </ng-template>
  </ng-container>
  <button-component
    [disable]="dynamicForm.pristine || dynamicForm.invalid"
    roundedFull="rounded-md"
    type="submit"
    >Submit
  </button-component>
</form>
