<div class="flex flex-col">
  <ng-container [ngSwitch]="typeInput">
    <input
      *ngSwitchCase="'boolean'"
      [formControl]="control.control"
      type="checkbox"
      class="border-0 flex ng-dirty ng-touched ng-valid placeholder:text-gray-400 py-1.5 ring-inset rounded-md shadow-sm sm:leading-6 sm:text-sm text-gray-900"
    />
    <ng-container *ngSwitchCase="'toggle'">
      <div *ngFor="let radio of toggleData" class="flex items-center">
        <input
          type="radio"
          class="border-gray-200 rounded-full text-blue-600 focus:ring-blue-500 dark:bg-gray-800 dark:border-gray-700 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800"
          [value]="radio.value"
          [formControl]="control.control"
        />
        <p class="!m-0">{{ radio.description }}</p>
      </div>
    </ng-container>
    <mat-form-field
      appearance="outline"
      *ngSwitchDefault
      class="rotate-180 -scale-[0.8]"
    >
      <mat-label>{{ labelInput }}</mat-label>
      <input
        matInput
        [placeholder]="placeholderInput ?? ''"
        [formControl]="control.control"
        class="font-semibold !text-xl"
      />
    </mat-form-field>
  </ng-container>
  <div *ngIf="control?.control?.errors?.error" class="pl-3 py-2 text-red-500">
    {{ control.control?.errors?.error }}
  </div>
</div>
