<div *ngIf="vm$ | async as vm" class="p-4">
  <form [formGroup]="form" [patchFormGroupValues]="vm">
    <div formGroupName="infoUser">
      <input-component formControlName="check" type="checkbox" />
      <div formGroupName="info">
        <div class="sm:col-span-3">
          <label class="block text-sm font-medium leading-6 text-gray-900"
            >Family Number</label
          >
          <div class="mt-2">
            <input-component formControlName="familyNumber" />
          </div>
        </div>
        <div class="sm:col-span-3">
          <label class="block text-sm font-medium leading-6 text-gray-900"
            >Role Of Member</label
          >
          <ng-container formArrayName="roleOfMember">
            <ng-container
              *ngFor="
                let role of form.controls.infoUser.controls.info.controls
                  .roleOfMember.controls;
                let index = index
              "
              [formGroupName]="index"
            >
              <label class="block text-sm font-medium leading-6 text-gray"
                >Value:</label
              >
              <input-component formControlName="value" />
              <div
                class="flex shadow-sm items-center gap-y-4 w-16 justify-between"
              >
                <label class="block text-sm font-medium leading-6 text-gray"
                  >Check:</label
                >
                <input-component formControlName="check" type="checkbox" />
              </div>
              <label class="block text-sm font-medium leading-6 text-gray"
                >ID:</label
              >
              <input-component formControlName="id" />
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  </form>

  <button-component (clicken)="addRole()" roundedFull="rounded-md mt-2">
    Add new Role
  </button-component>
</div>
