<div *ngIf="vm$ | async as vm" class="p-4">
  <form
    [formGroup]="form"
    [patchFormGroupValues]="vm"
    class="w-80 items-stretch flex-col flex"
  >
    <div formGroupName="infoUser">
      <form-control-label
        [label]="'Check value'"
        formControlName="check"
        class="col-span-4"
        [placeholderInput]="'Check'"
      />
      <div formGroupName="info">
        <form-control-label
          [label]="'Family Number'"
          formControlName="familyNumber"
          class="col-span-4"
          [placeholderInput]="'Check'"
        />
        <div>
          <label class="block text-sm font-medium leading-6 text-gray-900"
            >Role Of Member</label
          >
          <ng-container formArrayName="roleOfMember">
            <ng-container
              *ngFor="
                let role of form.controls.infoUser.controls.info.controls
                  .roleOfMember.controls;
                let index = index
              "
              [formGroupName]="index"
            >
              <form-control-label
                [label]="'Value:'"
                formControlName="value"
                class="col-span-1"
                [placeholderInput]="'value'"
              />
              <form-control-label
                [label]="'Check:'"
                formControlName="check"
                class="col-span-1"
                [labelInput]="'TEST'"
                typeInput="boolean"
              />
              <form-control-label
                [label]="'ID:'"
                formControlName="id"
                class="col-span-1"
                [placeholderInput]="'ID'"
              />
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  </form>

  <button-component (marian)="addRole()" roundedFull="rounded-md mt-2">
    Add new Role
  </button-component>
</div>
