<div *ngIf="vm$ | async as vm" class="p-4">
  <form [formGroup]="form" [patchFormGroupValues]="vm">
    <div formGroupName="infoUser">
      <div formGroupName="info">
        <div class="sm:col-span-3">
          <label
            for="familyNumber"
            class="block text-sm font-medium leading-6 text-gray-900"
            >Family Number</label
          >
          <div class="mt-2">
            <input
              type="text"
              name="familyNumber"
              id="familyNumber"
              formControlName="familyNumber"
              autocomplete="family-name"
              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
            />
          </div>
        </div>
        <div class="sm:col-span-3">
          <label class="block text-sm font-medium leading-6 text-gray-900"
            >Role Of Member</label
          >
          <div formArrayName="roleOfMember">
            <div
              *ngFor="
                let role of form.controls.infoUser.controls.info.controls
                  .roleOfMember.controls;
                let index = index
              "
              [formGroupName]="index"
            >
              <label>Check:</label>
              <input type="checkbox" formControlName="check" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <pre>
        {{ form.getRawValue() | json }}
    </pre
  >
</div>
